html { background-color: cornflowerblue; }


#widetrail {
    width: 100%;
    font-size: 80px;
    font-family: brody; 
    text-align: center;
    text-color:  #ff5f00; 
    text-decoration-line: none;
    color: #ff5f00;
    border: solid; 
    border-color: #0021A5; 
     
    
}

nav {
    width: 70%;
    height: 70%; 
    margin-top: 60px;
    display: inline-flex; 
  
        
}
nav a {
    width: 100%;
    font-size: 80%; 
    line-height: 1000%;
    text-decoration: none;
    text-align: center;  
    margin: 1%; 
    font-family: Bookman Old style;
    border: solid;
    border-color: #0021A5; 
}
img {
    margin-top: 30px; 
}
nav a:hover{
    background-color: #ff5f00;
    
}
.wrapper2 {
    width: 100%; 
    height: 100%;
    display: inline-block;
    margin-top: 45px;
     
     
     
    
}
h2 {
   text-align: center; 
    
}
section {  
    text-align: center;
    width: 100%; 
    height: 100%; 
    
    
                
}
.wrappertrail {
    margin-left: 15%;
    height: 75%; 
    width: 70%;
    margin-top: 25px;

}
.wrappertrail a{
    display: inline-block; 
    width: 40%;
    height: 55px; 
    margin: 10px; 
    align-items: center; 
    padding-left: 40px; 
    text-decoration: none;
    font-family: bookman old style; 
    border: solid; 
    
}
body { 
    width: 60%;
    height: 100%;
    margin-left: 20%; 
    background-color: white;
    text-align:center;
} 
#mainContainer { 
margin:0 auto; 
}
.wrappertrail a:hover{
    background-color: #ff5f00; 
    text-align: center; 

}
.trail-summary p {
    margin-left: 25%;
    width: 50%; 
    height: 50%;
    line-height: 30px;
    
   
}
img {
    text-decoration: bold; 
}