html { background-color: cornflowerblue; }

body { 
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 3.9em;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
} 

#widetrail {
    width: 100%;
    font-size: 400%;
    font-family: brody; 
    text-align: center;
    text-color:  #ff5f00; 
    text-decoration: none;
    color: #ff5f00;
    border: solid; 
    border-color: #0021A5; 
     
    
}

nav {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    display: inline-flex; 
  
        
}
nav a {
    width: 100%;
    font-size: 26px; 
    font-weight: bold;
    color: aliceblue;
    line-height: 1000%;
    text-decoration: none;
    text-align: center;  
    margin: 10px; 
    font-family: Bookman Old style;
     
}
nav a:hover{
    opacity: .9;
    filter: alpha(opacity=90);

}

.wrapper2 {
    width: 100%; 
    height: 100%;
    display: inline-block;
    margin-top: px;
     
  }

h2 {
   width: 30% ; 
    margin-left: 6%;
    
}
section {  
    text-align: center;
    width: 100%; 
    height: 100%; 
    
    
                
}

.wrappertrail {
    width: 40%; 
    margin-left:30%;
    }
.wrappertrail a{
    display: inline-flex; 
    width: 60%; 
    margin-left: 20%;
    margin-top: 5%;
    align-content: center; 
    font-size: 100%; 
    text-decoration: none;
    font-family: bookman old style; 
    border: solid; 
    
}

#mainContainer { 
margin:0 auto; 
}
.wrappertrail a:hover{
    background-color: #ff5f00; 
    text-align: center; 

}
.trail-summary p {
    margin-left: 25%;
    width: 50%; 
    height: 50%;
    line-height: 30px;
    
   
}

img {
    text-decoration: bold;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
footer {
    margin-top: 15px; 
    width: 864px; 
    clear: both;
    font-size: 12px;
    color: #ffffff;
    margin-left: -32px; 
}
.copyright {
    height: 0px; 
    text-align: center; 
   margin-bottom: -64px; 

}
